.CityListContainer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.CityListBlock{
    border: 1px solid;
    padding: 20px;
}
